@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.login-container {
    font-family: 'DM Sans';
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    background: linear-gradient(-45deg, #003973, #E5E5BE, #00416A);
    background-size: 400% 400%;
    animation: gradientAnimation 7s ease  infinite;  
    animation-direction: alternate-reverse;
}

.logo{
    height: 50px;
    width: 50px;
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 3px;
    
}
.background{
    background-color: #292E49;
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
  }

.login-container h2 {
    text-align: center;
    color: #333;
    margin-top: 3px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 8px;
    font-weight: 400;
}

.login-container input {
    padding: 8px;
    margin-bottom: 12px;
}

.login-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70px;
    margin-right: 70px;
    width: 250px;
}

.login-container button:hover {
    background-color: #0056b3;
}

.forgot{
    margin-top: 5px;
    text-align: right;
    font-size: 15px;
    font-style: italic;
}
.forgot_pwd{
    color: #007bff;
    text-decoration: none;
    font-weight: regular;
    text-align: right;
    margin-top: 5px;
  }

.register{
    margin-top: 10px;
    text-align: center;
}


.register_link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container a:visited {
    text-decoration: none;
}

.login{
    margin-right: 5px;
  }




@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
